// Primary
$Orange: hsl(26, 100%, 55%);
$PaleOrange: hsl(25, 100%, 94%);

$VeryDdarkBlue: hsl(220, 13%, 13%);
$DarkGrayishblue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$LightBoxBackground: hsl(0, 0%, 0%, 0.75);
