@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes enterLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes leaveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes enterRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes leaveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

$animationSpeed: 250ms;

.carouselWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1024px) {
  .carouselWrapper {
    .carousel {
      height: 75%;
      aspect-ratio: 1 / 1;
      figure {
        cursor: pointer;
        aspect-ratio: 1/1;
        max-height: 100%;
        border-radius: 15px;
        overflow: hidden;
      }
    }
  }
}
