@import "../../../sass/Utils/Variables/variables";

.rightSide {
  display: flex;
  align-items: center;
  gap: 15px;
  .cartBtn {
    position: relative;

    &:hover {
      svg {
        path {
          fill: black;
        }
      }
    }
    span {
      position: absolute;
      top: -7px;
      right: -6px;
      padding: 0.1ch 1.2ch;
      border-radius: 15px;
      font-size: 10px;
      color: white;
      background-color: $Orange;
    }
  }

  .avatar {
    cursor: pointer;
    height: calc(25px + (50 - 25) * (100vw - 375px) / (1440 - 375));
    min-height: 25px;
    max-height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid 3px transparent;
    transition: 200ms;
    &:hover {
      border: solid 3px $Orange;
    }
  }
}
