@import "../sass/Utils/Variables/variables";
@import "../sass/Utils/Mixins/mixins";

main {
  display: flex;
  flex-direction: column;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    .productName {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        color: $Orange;
        letter-spacing: 0.2ch;
        @include fluid-type(12, 14, 320, 1440);
      }
      h2 {
        line-height: 1.8ch;
        width: 15ch;
        @include fluid-type(28, 44, 320, 1440);
      }
    }
    .productDescription {
      color: $DarkGrayishblue;
      font-size: 16px;
    }
    .productPriceWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .productPriceUpdate {
        display: flex;
        align-items: center;
        gap: 15px;

        span {
          &:nth-child(1) {
            font-weight: 700;
            font-size: 30px;
          }
          &:nth-child(2) {
            font-size: 16px;
            font-weight: 700;
            color: $Orange;
            background-color: $PaleOrange;
            padding: 5px 10px;
            border-radius: 7px;
          }
        }
      }
      .productPriceRaw {
        span {
          color: $GrayishBlue;
          text-decoration: line-through;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    .contentWrapper {
      justify-content: center;
      max-width: 470px;

      .productPriceWrapper {
        flex-direction: column;
        gap: 5px;
        align-items: start;
      }
    }
  }
}
